*.iml
.idea/
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/gradle
/captures
.externalNativeBuild
.svn
.classpath
.project
bin
*.class
*.apk
target
Thumbs.db
.DS_Store
*~
.settings
R.java
code/assets/application.properties
code/project.properties
code/assets/version.properties
